[project]
name = "crawler"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiofiles==23.2.1",
    "aiohttp>=3.13.3",
    "beautifulsoup4>=4.14.3",
]
